.footer-container {
  background-color: #dae7e7;
  padding: 50px;
  color: black;
  margin-top: 1px;
}
.link a,
h3,
p {
  text-decoration: none;
  color: black;
}
.link a:hover {
  color: white;
}
.link {
  text-align: center;
  margin-bottom: 10px;
}

.contact p {
  margin: 0%;
}
